/*Font Family Links*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'Raleway', sans-serif;
}

.contact{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
/*	background: url(bg.jpg);/**/
/*	background-size: cover;*/*/
	
  
}

.contact .content{
	max-width: 800px;
	text-align: center;
	margin: auto;
}
.contact .content h2{
	font-size: 36px;
	font-weight: 700;
	color: #ffcc00;
}
.contact .content p{
	font-weight: 600;
	color:#000041;	
	text-align: justify;
	margin-top: 23px;
}
.container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 30px;

}
.container .contactInfo{
	width: 50%;
	display: flex;
	flex-direction: column;
}

.container .contactInfo .box{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.container .contactInfo .box .icon{
	min-width: 60px;
	height: 60px;
	background: #f6f6f6;
	display: flex;
	justify-content: center;
	align-content: center;
	border-radius: 50%;
	
}
.container .contactInfo .box .icon i{
	font-size: 22px;
	margin: auto;
	color: #ffcc00;
}
.container .contactInfo .box .text{
	display: flex;
	margin-left: 20px;
	color: #000041;
	font-size: 18px;
	flex-direction: column;
}
.container .contactInfo .box .text h3{
	font-weight: 600;
	color: #ffcc00;
	margin: 20px 0 20px 0;
}
.contactForm{
	width: 40%;
	padding: 40px;
	background: f6f6f6;
}

.contactForm h2{
	font-size: 30px;
	color: #ffcc00;
	font-weight: 600;
}

.contactForm .inputBox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactForm .inputBox input,textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 20px 0;
	border: none;
	border-bottom: 2px solid #ffcc00;
	outline: none;
	resize: none;
}
textarea{
	padding: 23px 0;
}
.contactForm .inputBox span{
	position: absolute;
	left: 0;
}

.contactForm .inputBox .buttonSend{
	background: #000041;
	color: #ffcc00;
	padding: 20px;
	font-size: 18px	;
	border-radius:10px ;
	font-weight: 700;
}

@media(max-width:1028px){
	.contact{
		flex-direction: column;
	}
	.content h2{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.container{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.contactForm{
		width: 100%;
		padding: 40px;
		background: f6f6f6;
	}
}